[Unit]
Description=service to alter IP ID via iptables and NFQUEUE (set global IP ID)
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 ../ipid-mimicking/set_global_ipid.py
Restart=always

[Install]
WantedBy=multi-user.target
